.menu {
  background-color: black;
}

.menu__button {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-bottom-right-radius: 40%;
  color: white;
}

.menuItem {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  justify-content: left;
  align-items: center;
}
.menuItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.menuItem a {
  margin-left: 1rem;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

.menuItem span {
  color: white;
  background-color: white;
}

.noteList {
  overflow-y: scroll;
  scrollbar-width: none;
  height: 100vh;
}

.noteListItem {
  padding: 20px;
}

.noteListItem__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.noteListItem__header__title {
  margin-right: auto;
  margin-bottom: 0;
}
.noteListItem__header__time {
  color: gray;
  margin: 0;
}
.noteListItem__body {
  margin: 0;
  color: gray;
}

.noteListItem:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.container--fullHight,
.menu--fullHight {
  height: 100vh;
}

.noteList::-webkit-scrollbar {
  display: none;
}
.noteList {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
