.menu {
  background-color: black;
}

.menu__button {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  text-decoration: none;
  border: none;
  border-bottom-right-radius: 40%;
  color: white1;
}

.container--fullHight,
.menu--fullHight {
  height: 100vh;
}
